#main {
  background-color: black;
}
a {
  color:  rgba(24,255,255,0.5);
}
a:hover {
  color: white;
}
.close {
  color:  rgba(24,255,255,0.5);
  opacity: 1;
}
#title {
  font-family: 'Futura', Arial, sans-serif;
}
.modal-header {
  color:  rgba(24,255,255,0.5);
  border-color:  rgba(24,255,255,1);
}
.modal-footer {
  border-color:  rgba(24,255,255,0);
}
.modal-content {
  background-color: black;
  color: white;
  font-family: 'Futura', Arial, sans-serif;
  box-shadow: 0 5px 15px  rgba(24,255,255,0.5);
}
#title {
  color: white;
}
.clickable-atom {
  cursor: pointer;
}
.element-container {
  height: 18em;
  transition: 0.5s linear all;
}

.box-glow {
  -webkit-box-shadow: inset 3px 4px 71px 0px rgba(24,255,255,1);
  -moz-box-shadow: inset 3px 4px 71px 0px rgba(24,255,255,1);
  box-shadow: inset 3px 4px 71px 0px rgba(24,255,255,1);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .subdued {
    color: grey;
  }
  .element-container {
    height: 100vh;
    width: 100%;
    margin-top: -10%;
    transition: 0.5s linear all;
  }
  h1 {
    font-size: 6em;
  }
  h2 {
    font-size: 3em;
  }
  .element-name {
    margin-top: -20%;
    color: rgba(3, 169, 244, 0.7);
    transition:color 1s ease;/*i just moved this from anchor*/
  }
  .atomic-details {
    color: white;
    margin-top: -10%;
    width: 100%;
    min-height: 100vh;
    border-top: 1px solid white;
    overflow-y: scroll;
  }
  #periodic-container {
    height: 100%;
    width: 100%;
  }
  #main {
    height: 100vh;
    width: 100vw;
  }
}
